<div class="container justify-content-center align-items-center">
    <div class="form-row justify-content-center align-items-center shadow" style="padding: 20px;">
        <form [formGroup]="userForm" >
            UserName: <br><input type="text" class="form-control" name="username" formControlName="firstName" /> <br><br>
            Email: <br><input type="text" class="form-control" name="username" formControlName="firstName" /> <br><br>
            Password: <br><input type="text" class="form-control" name="username" formControlName="password" /> <br><br>
            Confirm Password: <br><input type="text" class="form-control" name="username" formControlName="password" /> <br><br>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" name="submit">Login</button>
            </div>
        </form>
    </div>
</div>